<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exceller</title>
</head>
<body>
    <h1>Upload EXCEL File to Summarize</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file" accept=".json">
        <button type="submit">Upload and Summarize</button>
    </form>
    <h2>Summary:</h2>
    <pre id="summary"></pre>

    <script src="static\script.js"></script>
</body>
</html>